@font-face {
  font-family: 'Kenzo';
  src: url(fonts/Kenzo.otf);
  
}
h1 {
    font-family: 'Kenzo';
    font-size: 108px;
}
.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 10vh;
}

.button1 {
  width: 150px;
  height: 50px;
  border-color: aqua;
  color: white;
  background-color: black;
  font-size: 20px;
  border-radius: 8px;
  transition: ease-out 0.3s;
  outline: none;
  border: 3px solid aqua;
  position: relative;
  z-index: 1;
}
.button1:hover {
  color: black;
  cursor: pointer;
}

.button1:before {
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: "";
  background-color: aqua;
}
.button1:hover:before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
  z-index: -1;
}

.button2 {
  width: 150px;
  height: 50px;
  border-color: aqua;
  color: white;
  background-color: black;
  font-size: 20px;
  border-radius: 8px;
  transition: ease-out 0.3s;
  outline: none;
  border: 3px solid aqua;
  position: relative;
  z-index: 1;
}

.button2:hover {
  color: black;
  cursor: pointer;
}

.button2:before {
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: "";
  background-color: aqua;
}

.button2:hover:before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
  z-index: -1;
}

